extends layout

block content
  
  script(type='text/javascript', src='/js/mediators/home.js')
  script
    mapit(45.528337, -122.677338, 8);

  .mainBlock
    .mainContext(style='margin-bottom:20px;')
      h1.whiteTxt About
      .whiteTxt
        p Since 2009, located in Portland, Oregon <i>Interactive Balance</i> has been building custom online training software to large scale corporations worldwide. We changed the way HR does business creating a system that allows delegation from corporate to regions to properties, instead of a single HR unit managing hundreds of thousands of records.  Everyone is responsible for their own departments accountability.
        p <large>99%</large> of our work is proprietary so we can't show on the open web, but please set up a demo any time and we'll run you through the applications.
        h2 Industries we've built systems for:
        ul
          li High end dealerships
          li Hosptiality companies
          li Hosptiality parent corporations
          li International Market centers
        p We welcome other projects too, mainly big data projects in need of some organization and on the fly chartings. 

