extends layout

block content


  .cont-img
    .main-img-txt
      .large-5.small-4.columns
        img(src='/img/logo_large_white.png')
      .large-7.small-8.columns
        h1(style='margin-bottom:2px;').whiteTxt Interactive Balance
        p.whiteTxt Union Train Station<br>800 NW 6th Ave Suite 201 <br>Portland, OR 97212

  .row
    .links
      .large-6.columns
        a(href='mailto:info@interactivebalance.com')
          .widePost 
            h5 info@interactivebalance.com
      .large-6.columns
        a(href='https://plus.google.com/+NateGeier')
          .widePost 
            h5 Google +
      .large-6.columns
        a(href='http://linkedin.com/in/nategeier')
          .widePost 
            h5 linkedin.com/in/nategeier
      .large-6.columns
        a(href='https://twitter.com/nategeier')
          .widePost 
            h5 twitter @nategeier
      .large-12.columns
        a(href='href="tel:+5033957912"')
          .widePost 
            h5 (503) 395-7912
      //  
        .clear
        a.widePost(href='https://plus.google.com/100896801993734452685') Google +
        .clear
        a.widePost(href='http://linkedin.com/in/nategeier') linkedin.com/in/nategeier
        .clear
        a.widePost(href='https://twitter.com/nategeier', target='_blank') twitter @nategeier
        .clear
        a.widePost(href="tel:+5033957912") (503) 395-7912
   
