extends layout

block content



  .large-11.columns.large-centered.centerTxt
    div(style='height:20px;')

    .large-7.columns
      .widePost
        h2 Interactive Balance, llc
        p Union Train Station<br>800 NW 6th Ave Suite 201 <br>Portland, OR 97212
    .large-5.columns
      .widePost
        a(href='mailto:info@interactivebalance.com') info@interactivebalance.com
      .widePost
        a(href='https://plus.google.com/100896801993734452685') Google +
      .widePost
        a(href='http://linkedin.com/in/nategeier') linkedin.com/in/nategeier
      .widePost
        a(href='https://twitter.com/nategeier', target='_blank') twitter @nategeier
      .widePost
        a(href="tel:+5033957912") (503) 395-7912
   
