extends layout

block content
  
  script
    //mapit(45.528337, -122.677338, 18);

  .mainBlock
    .mainContext(style='margin-bottom:20px;')
      h1.whiteTxt Coworking
    .widePost
      .left
        h2 Main area
        i Avaiablity: 3 Desks
        p We have desks available to take over month-to-month.  Desks can be converted to stand up for those with crummy backs
        a(href='mailto:info@interactivebalance.com', target='_blank') Request a Desk
      .right
        img(src='/img/office/desks.jpg')
      .clear

    .widePost
      .left
        h2 Conference Room
        i 
        p Great for impressing clients, utilize the 1080p HD projector or scribble on the white board walls to visualize your ideas.
        a(href='mailto:info@interactivebalance.com', target='_blank') Request a Desk
      .right
        img(src='/img/office/confrance.jpg')
      .clear