extends layout

block content
  
  script
    //mapit(45.528337, -122.677338, 15);

  .mainBlock
    .mainContext(style='margin-bottom:20px;')
      h1.whiteTxt Jobs

    .widePost
      .left
        h2 Jr. Javascript Dev
        i Contract to hire
        hr
        p Know a little bit of front end javascript, but want to go all in?
        p Must have BASIC understanding of
        ul.margin-bull  
          li CSS, HTML5, Javascipt
          li MongoDB
          li JSON
          li Self starter
        a(href='mailto:info@interactivebalance.com') Send Resume
      .right
        img(src='/img/jobs/js.jpg')
      .clear
    .widePost
      .left
        h2 Designer looking to get into tech
        i Contract to hire
        hr
        p Looking for a designer who doesn't know everything about tech but is very excited and anxious to have a good grasp on it who can switch from design project to basic coding with a little guidance.
        p Must be current with design trends.
        ul.margin-bull 
          li Self starter
          li Photoshop, Illustrator, InDesign
          li Understanding of design principles

        a(href='mailto:info@interactivebalance.com') Send Resume
      .right
        img(src='/img/jobs/tablet.jpg')
      .clear
    .widePost
      .left
        h2 Node.js Dev
        i Contractor
        hr
        p We can't afford you full time but you don't want that either. We bring you in on your time and you can push us to make things better.
        ul.margin-bull
          li MYSQL
          li Any nosql database, we work with MongoDB
          li Linux admin
          li GIT
          li Jade
        a(href='mailto:info@interactivebalance.com') Send Resume
      .right
        img(src='/img/tech/node.png')
      .clear



