doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/vendors/foundation/css/foundation.min.css')
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Raleway')
    script(type='text/javascript', src='http://maps.googleapis.com/maps/api/js?key=AIzaSyD8mU_RaqmtXFHbDcgIBRs03IlnS781YJE&sensor=true')
    script(type='text/javascript', src='/js/jquery/jquery.js')
    
    script(type="text/javascript", src="/js/com/greensock/plugins/CSSPlugin.min.js")
    script(type="text/javascript", src="/js/com/greensock/easing/EasePack.min.js")
    script(type="text/javascript", src="/js/com/greensock/TweenLite.min.js")
    script(type='text/javascript', src='/js/mediators/home.js')
    script(type='text/javascript', src='/js/mediators/tracking.js')
    meta(meta name="viewport", content="width=device-width, initial-scale=1.0")

  body
    header
      .row
        .large-7.columns
          nav.right
            ul
              a(href='/about')
                li About
              a(href='/technology')
                li Technology
              a(href='/coworking')
                li CoWorking
              a(href='/contact')
                li Contact
        .large-5.columns
          a.logo(href='/')
            img.left(width='43', height='43', style='padding-top:15px;padding-right:10px;padding-bottom:10px;', src='/img/logo.png')
            h2 Interactive Balance

    #map-canvas

    block content
    br
    br
    br
    br
    br
    br
    br
    br
    .clear
    footer
      ul
        li <a href="tel:+5033957912">(503) 395.7912</a> <a href="mailto:info@interactivebalance.com">info@interactivebalance.com</a> &copy; Interactive Balance, LLC 2009





