doctype 5
html
  head
    title= title
    //link(rel='stylesheet', href='/vendors/foundation/css/foundation.min.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Raleway')
    link(rel='stylesheet', href='/css/foundation.css')
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/main.css')
    
    
    script(type='text/javascript', src='http://maps.googleapis.com/maps/api/js?key=AIzaSyD8mU_RaqmtXFHbDcgIBRs03IlnS781YJE&sensor=true')
    script(type='text/javascript', src='/js/jquery/jquery.js')
    
    script(type="text/javascript", src="/js/com/greensock/plugins/CSSPlugin.min.js")
    script(type="text/javascript", src="/js/com/greensock/easing/EasePack.min.js")
    script(type="text/javascript", src="/js/com/greensock/TweenLite.min.js")
    script(type='text/javascript', src='/js/mediators/home.js')
    script(type='text/javascript', src='/js/mediators/tracking.js')
    meta(meta name="viewport", content="width=device-width, initial-scale=1.0")
    script(type="text/javascript", src="/vendors/foundation/js/vendor/custom.modernizr.js")
    script(type="text/javascript", src="/vendors/foundation/js/foundation/foundation.js")
    script(type="text/javascript", src="/vendors/foundation/js/foundation/foundation.topbar.js")


  body
    header
      nav.top-bar
        ul.title-area
          // Title Area
          li.name(style='width:300px')
            a(href='/')
              img.left(src='/img/logo_large.png', width='43')
              h1 Interactive Balance
          // Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone
          li.toggle-topbar.menu-icon
            a(href='/about')
              span about
        section.top-bar-section
          // Left Nav Section
          ul.right
            li.divider
            li(class=(title === 'About' ? 'active' : ''))
              a(href='/about') About
            li.divider
            li(class=(title === 'Technology' ? 'active' : ''))
              a(href='/technology') Technology
            li.divider
            li(class=(title === 'Coworking' ? 'active' : ''))
              a(href='/coworking') Coworking
            li.divider
            li(class=(title === 'Contact' ? 'active' : ''))
              a(href='/contact') Contact

                

    #map-canvas

    block content

    .clear
    footer

      ul.row
        li
          a(href="tel:+5415217967") | (541) 521.7967
        li
          a(href="mailto:info@interactivebalance.com") | info@interactivebalance.com
        li
          a(href='https://twitter.com/nategeier') | @nategeier
        li
          a(href='https://plus.google.com/+NateGeier') | Google +
        li
          a(href='https://github.com/nategeier/') | GitHub
        li | &copy; Interactive Balance, LLC 2009

  script
    document.write('<script src=/js/jquery/' + ('__proto__' in {} ? 'zepto' : 'jquery') + '.js><\/script>');
    $(document).foundation();





