extends layout

block content
  
  script
    //mapit(45.528337, -122.677338, 13);

  .mainBlock
    .mainContext(style='margin-bottom:20px;')
      h1.whiteTxt Technology
    
    .widePost
      .left
        h2 We are a Node.js shop
        i A platform to help you create bleeding fast, realtime, scalable, enteprise applications.
        hr
        iframe(src="//player.vimeo.com/video/70603516", width="500", height="281", webkitallowfullscreen, mozallowfullscreen, allowfullscreen)
        hr
        a.button.small(href='http://nodejs.org/', target='_blank') More on Node.js
      .right
        img(src='/img/tech/node.png')
      .clear
    .widePost
      .left
        h2 Hosting
        i Dedicated Server
        hr
        p Node is a server side language requiring a specific stack of tools to run optimally. Together, using the high-performance HTTP server and reverse proxy NGINX for static files (Images, Videos, Sound files) and Node to handle the Input/Output, speed is the name of the game.
        a.button.small(href='http://wiki.nginx.org/Main', target='_blank') More on NGINX
      .right
        img(src='/img/tech/server.jpg')
      .clear

    




