extends layout

block content
  
  script
    //mapit(45.528337, -122.677338, 13);

  .mainBlock
    .mainContext(style='margin-bottom:20px;')
      h1.whiteTxt Technology
    .widePost
      .left
        h2 Hosting
        i Dedicated Server
        hr
        p Node is a server side language requiring a specific stack of tools to run optimally. <i>Interactive Balance</i> runs its apps with trusted dedicated servers using the high-performance HTTP server and reverse proxy NGINX.  This helps you load those sound, movie, images and other large media files with speed.
        a(href='http://wiki.nginx.org/Main', target='_blank') More on NGINX
      .right
        img(src='/img/tech/server.jpg')
      .clear
    
    .widePost
      .left
        h1 Node.js
        i The best way to descibe Node.js is to compare it to a coffee shop.
        hr
        h2 The Old Way: 
        ul
          li The coffee shop is ran by ONE person
          li You wait in line for 10 people to make their orders
          li You're finally up and order
          li The cachier takes your money and give you change
          li The cashier then goes to fix your drink
          li When done, the cashier goes on to the next customer forming a larger line of customers.
        h2 The Node Way:
        ul
          li You walk in and see 300 cashiers waiting to take your order
          li You order and one of the 700 or so baristas are frothing at the mouth to make your drink
          li Now drinking  
        a(href='http://nodejs.org/', target='_blank') More on Node.js
      .right
        img(src='/img/tech/node.png')
      .clear

    




