darkCol = #005189
lightCol = #95aec0

body
  padding: 0
  margin:0
  font-family: 'Raleway', sans-serif;
  background-image:url('/img/bkd.png');
  color:darkCol
a
  color: lightCol

header a
  text-decoration:none


.colBox, .widePost
  -moz-border-radius: 5px;
  border-radius: 5px;

.colBox img
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;

h1, h2
  font-family: 'Raleway', sans-serif;
  color:darkCol

h2
  margin:2px
  font-size:20px
p
  margin-bottom:8px
  margin-top:0px

large
  font-size: 33px

.main-img
  background-image: url("/img/opener2.jpg")

.cont-img
  background-image: url("/img/contact_main.jpg")

.about-img
  background-image: url("/img/about_main.jpg")

.main-img, .cont-img, .about-img
  background-repeat: no-repeat
  background-attachment: fixed
  background-position: center top
  height: 300px
  position:relative
  margin-bottom:20px
  background-color:#666
  border-bottom:3px solid #fff


.links
  text-align:center

.wide-top
  background-color:#666


.main-img-txt
  padding-top:40px
  width:100%
  position:relative
  

.main-img-txt
  text-align:center

/*

.name img
  padding:10px

nav.top-bar
  height:100px

ul.title-area, .top-bar-section
  height:60px
*/

nav h1
  margin-left:10px


nav img
  padding:5px;

a.linkThumb
  text-decoration:none

.logo

  padding:10px
  margin:0


.mainHead h1, .mainHead p
  text-align:center


 #map-canvas
 	position:absolute
 	width:100%
  height:100%
  top:0
  left:0
  z-index:-1


 header
 	margin:0


footer
  background-color:rgba(255,255,255,.3)
  padding-top:0px;

  width:100%
  height:20px
  margin-top:10px
  text-align:center
  color:darkCol
  position:fixed
  bottom:0

footer a, footer ul li
  font-size:14px
  margin-bottom:10px



footer ul
  list-style-type: none;
  padding:0
  width:500px;
  margin:0 auto

footer ul li
  float:left
  text-align:center

.mainBlock
  margin:0 auto
  width:90%
  max-width:1024px
  padding:0


.whiteTxt
  color:#ffffff

.no-pad
  padding:0px

.padding-small
  padding:2px



.margin-bull
  margin-left:40px

.colBox
  height:240px
  background-color:rgba(255,255,255,.9)
  padding:2px

.linkThumb img
  width:100%

  background-color:rgba(255,255,255,.4)

.clear
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;

.mainContext
  width:55%

.widePost

  background-color:rgba(255,255,255,.9)
  padding:20px;
  margin-bottom:2px

.widePost .left
  float:left
  width:62%
  padding-right:10px


.widePost .right
  width:35%
  float:right


.right img
  width:100%


